// COLORS
$primary-color: #b45050;
$secondary-color: #d60404;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #5c5b5b; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
